<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Update {% endblock title %}

{% block content %}
<h3>Members - Flask SQLAlchemy example - update</h3>
{%- for category, message in get_flashed_messages(with_categories = true) %}
<div class = "alert alert-danger">
	{{ message }}
</div>
{%- endfor %}

<form action = "/update" method = "post">
	<select name="select_name">
		{% for food in foodList %}
		<option value="{{ food }}">{{ food }}</option>
		{% endfor %}
		{% for group in groups %}
		<input type="radio" name="group_name" value="{{ group }}">{{ group }}
		{% endfor %}
	</select>
	<br>
	<input type="submit" value = "Submit">
</form>
{% endblock content %}